{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}

<!-- Header Section -->
<section>
  <header id="myNavbar">
    <div class="logo" style="color: #4a4343;">DP System</div>
    <ul class="menu">
      <li><a href="/" style="color: #4a4343;">Home</a></li>
      <li><a href="/about" style="color: #4a4343;">About</a></li>
    </ul>
    <div class="search">
      <ul class="menu">
        <li><a href="/diabetes" style="color: #4a4343;">CHECKUP</a></li>
      </ul>
    </div>
  </header>
</section>
<div class="carousel1">
  <img src="/static/image/banner/2.png" alt="banner1" />
</div>

<!-- Step for Checkup Section -->
<section class="aboutdetails">
  <div class="checkup-details">
    <h1>
      About Us
      <div style="
            height: 4px;
            width: 77px;
            background-color: red;
            border-radius: 2px;
            margin-top: 5px;
          "></div>
    </h1>
    <p class="description">
      The "Disease Prediction System" project represents a pioneering effort
      in leveraging ML techniques to address the challenges of disease
      prediction and diagnosis in modern healthcare. Through
      interdisciplinary collaboration and innovation, this project aims to
      pave the way for more effective and personalized healthcare solutions
      that can positively impact individuals, healthcare providers, and
      healthcare systems as a whole. In today's healthcare, predicting
      diseases accurately and quickly is crucial for better treatment
      outcomes. Our project, "Disease Prediction System," focuses on using
      machine learning (ML) to create a system that can predict the chances
      of getting several diseases based on different factors Traditional
      diagnosis methods can sometimes be subjective and prone to mistakes.
      With our project, we aim to use advanced ML techniques to analyze
      various types of information, like medical history, lifestyle, and
      genetics, to predict the likelihood of someone getting specific
      diseases. Our goal is to develop a system that can predict diseases at
      once, considering how different health issues can be connected. By
      using ML algorithms that are good at handling lots of data, we hope to
      give healthcare professionals useful insights into which diseases
      someone might be at risk of developing. This project is important
      because it could lead to earlier detection of diseases, personalized
      risk assessments, and better-targeted treatments. By giving doctors
      better tools for prediction, we hope to improve healthcare and
      people's lives.
    </p>
  </div>
  <img src="/static/image/about bg.png" />
</section>

<footer>
  <!--**bottom**********************-->
  <div class="footer-bottom">
    <span class="footer-owner">Made By ShubhamSangani</span>
    <span class="copyright">&#169; Copyright 2024 - DP System</span>
  </div>
</footer>

<script src="/static/js/app.js"></script>

{% endblock body %}
