{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}
<header>
    <div class="logo">DP System</div>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      {% comment %} <li><a href="/contact">Contact</a></li> {% endcomment %}
    </ul>
    <div class="search">
      <ul class="menu">
        <li><a href="/diabetes" style="background:#0264b2; border-radius:4px; padding:5px; color:white;">CHECKUP</a></li>
      </ul>
    </div>
  </header>

  <!-- carousel -->
  <div class="carousel">
    <!-- list item -->
    <div class="list">
      {% comment %} <div class="item">
        <img src="/static/image/1.1.png">
        <div class="content">
          <div class="author">DP SYSTEM</div>
          <div class="title">STAY AHEAD, STAY HEALTHY</div>
          <div class="topic" style="font-size: 2.9rem;">PARKINSONS DISEASES</div>
          <div class="des">
            A liver disease detection system uses imaging and machine learning to identify liver diseases
            like h
            epatitis and cirrhosis. It aids in early diagnosis and treatment, reducing public health burden.
          </div>
          <div class="buttons">
            <button><a href="https://www.who.int/news-room/fact-sheets/detail/parkinson-disease">SEE
                MORE</a></button>
            <button><a href="/parkinsons" style="color: white;">CHECKUP</a></button>
          </div>
        </div>
      </div> {% endcomment %}
      {% comment %} <div class="item">
        <img src="/static/image/7.jpg">
        <div class="content">
          <div class="author">DP SYSTEM</div>
          <div class="title">SPOT IT, STOP IT !</div>
          <div class="topic">HEART DISEASES</div>
          <div class="des">
            A heart disease detection system uses machine learning and medical data to identify
            cardiovascular risk.It detects conditions like coronary artery disease, heart failure,
            and arrhythmias, improving outcomes and cutting healthcare costs.
          </div>
          <div class="buttons">
            <button><a href="https://www.cdc.gov/heartdisease/about.htm">SEE MORE</a></button>
            <button><a href="/heart" style="color: white;">CHECKUP</a></button>
          </div>
        </div>
      </div> {% endcomment %}
      <div class="item">
        <img src="/static/image/222.png">
        <div class="content">
          <div class="author" style="color:rebeccapurple;">DP SYSTEM</div>
          <div class="title">YOUR HEALTH, YOUR PRIORITY.</div>
          <div class="topic">CHECK BODYHEALTH</div>
          <div class="des">
            Regular health checks empower individuals to detect and address health concerns early, promoting longevity and vitality. 
            Prioritizing routine assessments acknowledges the body's importance, fostering balance and well-being in both physical and mental health.
          </div>
          <div class="buttons">
            {% comment %} <button><a href="https://www.cdc.gov/diabetes/basics/index.html">SEE MORE</a></button> {% endcomment %}
            <button><a href="/diabetes" style="color: white; ">CHECK HEALTH</a></button>
          </div>
        </div>
      </div>
    </div>
    <!-- list thumnail -->
    {% comment %} <div class="thumbnail">
      <div class="item">
        <img src="/static/image/1.1.png" />
        <div class="content">
          <div class="title">PARKINSONS PREDICTION</div>
          <!-- <div class="description">
                        Description
                    </div> -->
        </div>
      </div>
      <div class="item">
        <img src="/static/image/7.jpg" />
        <div class="content">
          <div class="title">HEART PREDICTION</div>
          <!-- <div class="description">
                        Description
                    </div> -->
        </div>
      </div>
      <div class="item">
        <img src="/static/image/2.1.png" />
        <div class="content">
          <div class="title">DIABETES PREDICTION</div>
          <!-- <div class="description">
                        Description
                    </div> -->
        </div>
      </div>
    </div> {% endcomment %}
    <!-- next prev -->

    {% comment %} <div class="arrows">
      <button id="prev">
        < </button>
          <button id="next">></button>
    </div> {% endcomment %}
    <!-- time running -->
    <div class="time"></div>
  </div>

  <!-- Step for Checkup Section -->
  <div class="checkup-step">
    <h1>
      ABOUT US
      <div style="
            height: 4px;
            width: 77px;
            background-color: red;
            border-radius: 2px;
            margin-top: 5px;
            margin-left: 41.9%;
          "></div>
    </h1>
    <div class="step">
      <img src="/static/image/2.jpg" />
      <div class="checkup-details">
        <p class="description">
          <h1 class="heading" style="text-align: justify; font-size: 2rem; color: black;">Click on Checkup Button</h1>
          <p style="font-size: 1.3rem; color: #464646; font-family: serif;">
            It Is A Medical Service That Uses Ml & AI To Check You Body Health.<br><br>

            The Main Goal Of This Project Is To Provide An Easy And Convenient Way For People To Check Their 
            Health Status By Using The Latest Technology In The Field We Use The Latest Technology In Health-
            care And Artificial Intelligence (AI) To Provide You With Personalized Advice On Your Overall 
            Health, As Well As Specific Recommendations For Conditions Such As Diabetes, Heart Disease, Or 
            Parkinson Health Issues. Our Team Of Experts Will Work Closely With You To Understand Your Needs 
            And Develop An Heart Disease, Or Parkinson Health Issues.
          </p>
          <button class="btn" style="color: white;
          border: none;
          padding: 11px;
          background: #f1683a;
          border-radius: 3px;
          letter-spacing: 3px;
          cursor: pointer;
      }"><a href="/about" style="color: white;">SEE MORE</a></button>
        </p>
      </div>
      
    </div>
    {% comment %} <div class="step">
      <img src="/static/image/22.png" />
      <div class="checkup-details">
        <p class="stepcount">Step - 2</p>
        <h1>Click on Checkup Button</h1>
        <p class="description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi,
          rem magnam nesciunt minima placeat, itaque eum neque officiis unde,
          eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut
          doloribus non numquam.
        </p>
      </div>
    </div>
    <div class="step">
      <div class="checkup-details">
        <p class="stepcount">Step - 3</p>
        <h1>Click on Checkup Button</h1>
        <p class="description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi,
          rem magnam nesciunt minima placeat, itaque eum neque officiis unde,
          eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut
          doloribus non numquam.
        </p>
      </div>
      <img src="/static/image/11.png" />
    </div> {% endcomment %}
  </div>

  <!-- Footer Section start -->
  <footer>
    {% comment %} <hr>
    <div class="footer-container">
      <!--**comoany-box**-->
      <div class="footer-company-box">
        <!--logo-->
        <a href="#" class="logo"><span>DP</span> System</a>
        <!--details-->
        <p>DP System provide all the facilites related to HealthCare. As well as give the all support which is
          required a patient.</p>
        <!--social-box-->
        <div class="footer-social">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
      <!--**link-box***-->
      <div class="footer-link-box">
        <strong>Main Link's</strong>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/diabetes">Checkup</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </div>
      <!--**link-box***-->
      <div class="footer-link-box">
        <strong>Quick Link's</strong>
        <ul>
          <li><a href="#">Get Medicine's</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <!-- <li><a href="#">Disclaimer</a></li> -->
          <li><a href="#">Trem's and Condition's</a></li>
        </ul>
      </div>
      <!--**link-box***-->
      <div class="footer-link-box">
        <strong>External Link's</strong>
        <ul>
          <li><a href="#">Neurology Services</a></li>
          <li><a href="#">Cardiology Service</a></li>
          <li><a href="#">X-ray & RIM Services</a></li>
          <li><a href="#">Orthopaedics Services</a></li>
        </ul>
      </div>
    </div> {% endcomment %}

    <!--**bottom**********************-->
    <div class="footer-bottom">
      <span class="footer-owner">Made By Shubham Sangani</span>
      <span class="copyright">&#169; Copyright 2024 - DP System</span>
    </div>
  </footer>
{% endblock body %}
